branches:
  only:
  - gh-pages
language: ruby
env:
  global:
  - LINKCHECKER_THREAD=3
rvm:
  - 2.1.2
before_script: 
  - sudo pip install LinkChecker
  - gem install --no-rdoc --no-ri jekyll jekyll-mentions jemoji jekyll-redirect-from jekyll-sitemap    
script:
  # checking what's deployed 
  - jekyll serve &
  - sleep 10
  - rake linkchecker_local
  - rake kill_jekyll
  # rebuilding
  - rake install
  - bundle exec rake specs
  - bundle exec rake clean
  - bundle exec rake full_build
  # checking again 
  - jekyll serve &
  - sleep 10
  - rake linkchecker_local
  - rake kill_jekyll
 