---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body data-spy="scroll" data-target=".bs-docs-sidebar" class="with-banner">

{% include jsf-banner.html %}
{% include navbar.html %}

<!-- Subhead : We need you!
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Appium wants you!</h1>

        <p class="lead">Appium needs your help - get involved! Let's make it
            rockium together!</p>
    </div>
</header>


<div class="container-fluid">


    <div class="row">
        <div class="col-md-4 col-xs-12">
            <img class="pull-left img-responsive" id="we-need-ya" src="img/we-need-ya.png"
                 alt="Appium needs you man!"/>
        </div>

        <div class="col-md-offset-1 col-md-4">

            <!-- Section - Make it better
            ================================================== -->
            <section id="we-need-desc">
                <h1>Let's make it even better!</h1>
                <p class="lead">
                    Open Source is the life blood of the software universe, and
                    Appium is only as good as the community contributing to it.
                    <br><br>Dive in! Help improve the docs, hack on the
                    internals, build tests.<br><br> Anything you are interested
                    in doing can help make the project more awesome.
                </p>

                <p class="lead">
                    Join the community:
                </p>
                <ul>
                    <li>
                        <a href="https://discuss.appium.io">Discussion
                            Group</a></li>
                   <li>
                        <a href="http://appium.io/chat">Appium Chat</a></li>
                    <li><a href="https://github.com/appium/appium/issues">GitHub
                        Issues</a></li>
                    <li>Check out the <a
                            href="https://github.com/appium/appium/blob/master/docs/en/contributing-to-appium/credits.md">Contributing
                        Projects</a></li>
                </ul>


            </section>
        </div>
    </div>
</div>

{% include footer.html %}
</body>
</html>
