---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body onload="load()">
<script>
    function load() {
        var downloadLink = document.getElementById('downloadLink');
        if (navigator.appVersion.indexOf("Win") != -1) {
            downloadLink.href = "https://bitbucket.org/appium/appium.app/downloads/AppiumForWindows-1.0.0.zip";
        } else {
            downloadLink.href = "https://bitbucket.org/appium/appium.app/downloads/appium-1.0.0.dmg";
        }
    }
    var toggleVideo = function () {
        var vid = $("#show-demo-video");
        if (vid.css("display") == "none") {
            vid.css("display", "");
        }
        else {
            vid.css("display", "none");
        }
    };
</script>

{% include navbar.html %}

<div class="jumbotron masthead">
    <div class="container">
        <h1 class="img-responsive appium-logo">Appium</h1>
        <img class="img-responsive code-bg" src="img/code-bg.gif"/>

        <p>Automation for Apps</p>

        <p class="small">Appium is an open source test automation framework for
            use with native and <a
                    href="/slate/en/1.0-beta/#hybrid.md">hybrid</a>
            mobile apps. <br>It drives iOS and Android apps using the WebDriver
            <a href="http://code.google.com/p/selenium/wiki/JsonWireProtocol">JSON
                wire protocol</a>.</p>

        <p>
            <!-- <a href="https://github.com/appium/appium/zipball/master" class="btn btn-primary btn-large">Download .zip</a> -->
            <!-- <a href="https://github.com/appium/appium/tarball/master" class="btn btn-primary btn-large">Download .tar.gz</a> -->
            <a id="downloadLink"
               href="https://bitbucket.org/appium/appium.app/downloads/"
               class="btn btn-primary btn-lg" role="button">Download Appium</a>
        </p>
    </div>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-nav-center">
                <li><a href="https://github.com/appium/appium">View on GitHub</a></li>
                <li><a href="/downloads.html">Downloads</a></li>
                <li><a href="https://github.com/appium/appium/tree/master/sample-code/examples">Examples</a></li>
                <li><a href="/slate/en/1.0-beta/#credits.md">Contributions</a></li>
                <li><a href="https://travis-ci.org/appium/appium"><img
                        src="https://api.travis-ci.org/appium/appium.png?branch=master"
                        alt="Build Status"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="marketing container-fluid">
        <div class="row">
            <div class="col-md-12">
            <h1 class="page-header" id="introducing-appium">Introducing Appium.</h1>

            <p class="marketing-byline">Is native app automation missing from your
                tool belt? Problem solved.</p>

            <h2><a href="javascript: toggleVideo()">Watch the Videos</a></h2>

            <div id="show-demo-video" style="display:none">
                <iframe width="640" height="360"
                        src="http://www.youtube.com/embed/1J0aXDbjiUE"
                        frameborder="0" allowfullscreen></iframe>
                <iframe width="480" height="360"
                        src="http://www.youtube.com/embed/oTIEt11cXNk"
                        frameborder="0" allowfullscreen></iframe>
                <iframe width="640" height="360"
                        src="http://www.youtube.com/embed/ILKi6B54_sw"
                        frameborder="0" allowfullscreen></iframe>
                <iframe width="640" height="360"
                        src="http://www.youtube.com/embed/eKhuF_4KzYo"
                        frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
        </div>

        <hr class="soften">

        <div class="row">
            <div class="col-md-4">
                <img src="img/marketing-recompiling.png"
                     alt="Forget recompiling">

                <h2>Appium Philosophy</h2>

                <p>
                    Appium is built on the idea that testing native apps
                    shouldn't require including an SDK or recompiling your app.
                    And that you should be able to use your preferred test
                    practices, frameworks, and tools. Appium is an open source
                    project and has made design and tool decisions to encourage
                    a vibrant contributing community.
                </p>
            </div>

            <div class="col-md-4">
                <img src="img/marketing-favorite-tool.png"
                     alt="Use your favorite tool">

                <h2>Use your favorite tools</h2>

                <p>
                    Appium aims to automate any mobile app from any language and
                    any test framework, with full access to back-end APIs and
                    DBs from test code. Write tests with your favorite dev tools
                    using all the above programming languages, and probably more
                    (with the Selenium WebDriver API and language-specific
                    client libraries).
                </p>
            </div>

            <div class="col-md-4">
                <!-- http://www.psdgraphics.com/psd-icons/settings-icon-psd-hammer-and-wrench/ -->
                <img class="marketing-img" src="img/marketing-requirements.png"
                     alt="Requirements">

                <h2>Requirements</h2>
                <h4>iOS</h4>
                Mac OSX 10.7+<br/>
                XCode 4.5+ w/ Command Line Tools<br/>
                <h4>Android</h4>
                Mac OSX 10.7+ or Windows 7+ or Linux<br/>
                Android SDK &ge; 16 (SDK < 16 in Selendroid mode)<br/>
            </div>
        </div>

        <hr class="soften">

        <div class="row">
            <div class="col-md-12">
            <h1>Easy setup process, run a test now.</h1>

            <p>
                Install <a href="http://nodejs.org">node.js</a> (includes npm, the
                node.js package manager).
            </p>
<pre class="prettyprint ninja">
> npm install -g appium
> npm install wd
> appium &amp;
> node your-appium-test.js
</pre>
            <p>
                See the <a
                    href="https://github.com/appium/appium/tree/master/sample-code/examples">Appium
                example tests.</a>
            </p>
                </div>
            </div>
</div>


{% include footer.html %}
</body>
</html>
