---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body onload="load()">
<script>
    function load() {
        var downloadLink = document.getElementById('downloadLink');
        if (navigator.appVersion.indexOf("Win") != -1) {
            downloadLink.href = "https://bitbucket.org/appium/appium.app/downloads/AppiumForWindows-1.2.4.1.zip";
        } else {
            downloadLink.href = "https://bitbucket.org/appium/appium.app/downloads/appium-1.3.1.dmg";
        }
    }
    var toggleVideo = function () {
        var vid = $("#show-demo-video");
        if (vid.css("display") == "none") {
            vid.css("display", "");
        }
        else {
            vid.css("display", "none");
        }
    };
</script>

{% include navbar.html %}

<div class="jumbotron masthead">
    <div class="container">
        <h1 class="img-responsive appium-logo">Appium</h1>
        <img class="img-responsive code-bg" src="img/code-bg.gif"/>

	<p data-localize="jumbotron-heading">Automation for Apps</p>

        <p class="small"><span data-localize="jumbotron-p-pt1">Appium is an open source test automation framework for
            use with native, </span> <a
                    href="/slate/en/master/#hybrid.md"><span data-localize="jumbotron-p-pt2">hybrid</span></a><span data-localize="jumbotron-p-pt3"> and mobile web apps.</span> <br /><span data-localize="jumbotron-p-pt4">It drives iOS and Android apps using the WebDriver protocol.</span></p>
        <p>
            <!-- <a href="https://github.com/appium/appium/zipball/master" class="btn btn-primary btn-large">Download .zip</a> -->
            <!-- <a href="https://github.com/appium/appium/tarball/master" class="btn btn-primary btn-large">Download .tar.gz</a> -->
            <a id="downloadLink" data-localize="downloadLink"
               href="https://bitbucket.org/appium/appium.app/downloads/"
               class="btn btn-primary btn-lg" role="button">Download Appium</a>
        </p>
    </div>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-nav-center">
                <li><a href="https://github.com/appium/appium" data-localize="jumbotron-github">View on GitHub</a></li>
                <li><a href="/downloads.html" data-localize="jumbotron-downloads">Downloads</a></li>
                <li><a href="https://github.com/appium/sample-code/tree/master/sample-code/examples" data-localize="jumbotron-examples">Examples</a></li>
                <li><a href="/slate/en/master/#credits.md" data-localize="jumbotron-contributions">Contributions</a></li>
                <li><a href="https://travis-ci.org/appium/appium"><img
                        src="https://api.travis-ci.org/appium/appium.png?branch=master"
                        alt="Build Status"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="marketing container-fluid">
        <div class="row">
            <div class="col-md-12">
            <h1 class="page-header" id="introducing-appium" data-localize="introducing-appium">Introducing Appium.</h1>

            <p class="marketing-byline" data-localize="intro-subheading">Is native app automation missing from your
                tool belt? Problem solved.</p>

            <h2><a href="javascript: toggleVideo()" data-localize="watch-videos">Watch the Videos</a></h2>

            <div id="show-demo-video" style="display:none">
                <iframe width="640" height="360"
                        src="http://www.youtube.com/embed/1J0aXDbjiUE"
                        frameborder="0" allowfullscreen></iframe>
                <iframe width="480" height="360"
                        src="http://www.youtube.com/embed/oTIEt11cXNk"
                        frameborder="0" allowfullscreen></iframe>
                <iframe width="640" height="360"
                        src="http://www.youtube.com/embed/ILKi6B54_sw"
                        frameborder="0" allowfullscreen></iframe>
                <iframe width="640" height="360"
                        src="http://www.youtube.com/embed/eKhuF_4KzYo"
                        frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
        </div>

        <hr class="soften">

        <div class="row">
            <div class="col-md-4">
                <img src="img/marketing-recompiling.png"
                     alt="Forget recompiling">

                <h2 data-localize="philosophy">Appium Philosophy</h2>

                <p data-localize="philosophy-more">
                    Appium is built on the idea that testing native apps
                    shouldn't require including an SDK or recompiling your app.
                    And that you should be able to use your preferred test
                    practices, frameworks, and tools. Appium is an open source
                    project and has made design and tool decisions to encourage
                    a vibrant contributing community.
                </p>
            </div>

            <div class="col-md-4">
                <img src="img/marketing-favorite-tool.png"
                     alt="Use your favorite tool">

                <h2 data-localize="favorite-tools">Use your favorite tools</h2>

                <p data-localize="favorite-tools-more">
                    Appium aims to automate any mobile app from any language and
                    any test framework, with full access to back-end APIs and
                    DBs from test code. Write tests with your favorite dev tools
                    using all the above programming languages, and probably more
                    (with the Selenium WebDriver API and language-specific
                    client libraries).
                </p>
            </div>

            <div class="col-md-4">
                <!-- http://www.psdgraphics.com/psd-icons/settings-icon-psd-hammer-and-wrench/ -->
                <img class="marketing-img" src="img/marketing-requirements.png"
                     alt="Requirements">

                <h2 data-localize="requirements">Requirements</h2>
                <h4>iOS</h4>
                <span data-localize="req-ios-os">Mac OSX 10.7+</span><br/>
		<span data-localize="req-xcode">XCode 4.5+ w/ Command Line Tools</span><br/>
                <h4>Android</h4>
                <span data-localize="req-android-os">Mac OSX 10.7+ or Windows 7+ or Linux</span><br/>
                <span data-localize="req-android-sdk">Android SDK &ge; 16 (SDK < 16 in Selendroid mode)</span><br/>
            </div>
        </div>

        <hr class="soften">

        <div class="row">
            <div class="col-md-12">
            <h1 data-localize="easy-setup">Easy setup process, run a test now.</h1>

<pre class="prettyprint ninja" data-localize="install-code">
> brew install node      # get node.js
> npm install -g appium  # get appium
> npm install wd         # get appium client
> appium &amp;               # start appium
> node your-appium-test.js
</pre>
            <p>
                <span data-localize="see-examples-p1">See the</span> <a
                    href="https://github.com/appium/sample-code/tree/master/sample-code/examples"><span data-localize="see-examples-p2">Appium
                example tests.</span></a>
            </p>
                </div>
            </div>
</div>


{% include footer.html %}
<script>
appiumLocalize("index");
</script>
</body>
</html>
