<!-- Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <p data-localize="open-for-discussion">We're open for discussion and would love to hear your voice in the conversation about the future of mobile apps testing!</p>
        <ul class="footer-links">
            <li><a href="https://discuss.appium.io" data-localize="discussion-group">Discussion Group</a></li>
            <li><a href="https://github.com/appium/appium/issues" data-localize="issues">Issues</a></li>
            <li><a href="http://appium.io/chat">Appium Chat</a></li>
        </ul>
    </div>
</footer>

<script>
appiumLocalize("footer");

// getParameterByName from http://stackoverflow.com/a/901144
function getParameterByName(name) {
  name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
  var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
  results = regex.exec(location.search);
  return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
function appiumLocalize(pageName) {
  var opts = { pathPrefix: "/localize", skipLanguage: /^en/ };
  var langVal = getParameterByName("lang");
  if (langVal) {
    opts.language = langVal;
  }
  $("[data-localize]").localize(pageName, opts);
}
var langVal = getParameterByName("lang");
if (!langVal) {
    langVal = navigator.language.substr(0,2);
}
$("#l_" + langVal).addClass("active");
$("a.localizable-link").each(function() {
    var _href = $(this).attr("href");
    $(this).attr("href", _href + "?lang=" + langVal);
});
</script>
