<!-- Navbar v3.1.1
http://getbootstrap.com/components/#navbar
 ================================================== -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Appium</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/index.html" class="localizable-link" data-localize="home-nav-link">Home</a></li>
                <li><a href="/introduction.html" class="localizable-link" data-localize="intro-nav-link">Introduction</a></li>
                <li><a href="/getting-started.html" class="localizable-link" data-localize="getting-started-nav-link">Get started</a></li>
                <li><a href="/history.html" class="localizable-link" data-localize="history-nav-link">History</a></li>
                <li><a href="/get-involved.html" class="localizable-link" data-localize="get-involved-nav-link">Get Involved!</a></li>
                <!-- <li><a href="/tutorials.html">Tutorials</a></li> -->
                <li><a href="/documentation.html" class="localizable-link" data-localize="docs-nav-link">Documentation</a></li>
                <li><a href="/tutorial.html" class="localizable-link" data-localize="docs-nav-tutorial">Tutorial</a></li>
                <li><a href="/resources.html" class="localizable-link" data-localize="docs-nav-resources">Books & Resources</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--
<ul class="nav nav-pills language-list">
    <li id="l_en"><a href="/index.html?lang=en">English</a></li>
    <li id="l_de"><a href="/index.html?lang=de">Deutsch</a></li>
    <li id="l_es"><a href="/index.html?lang=es">Español</a></li>
    <li id="l_fr"><a href="/index.html?lang=fr">Français</a></li>
    <li id="l_pl"><a href="/index.html?lang=pl">Polski</a></li>
    <li id="l_pt"><a href="/index.html?lang=pt">Português</a></li>
    <li id="l_ja"><a href="/index.html?lang=ja">日本語</a></li>
    <li id="l_zh"><a href="/index.html?lang=zh">中文(简体)</a></li>
</ul>
 -->
 <script>
    appiumLocalize("navbar");
</script>
